[2019-05-31 09:34] Cidana-Developers opened #23 "support 10-bit yuv420p10le"
Add test code for 10-bit yuv420p10le

[2019-07-08 02:14] Cidana-Developers opened #31 "investigate e2e test in travis"
The e2e test in travis seems broken, please help to investigate it. @edmond-zhu

[2019-07-09 01:22] Cidana-Developers opened #32 "Investigate the coverage for Unittest"
@edmond-zhu As we discussed last Friday, we should check the coverage of our unit tests.
It's easy to collect this data by taking advantage of Coverall, you can modify the travis configuration to run the unit test and check the result from Coverall.

[2019-07-09 01:36] Cidana-Developers opened #33 "SVT-AV1 Feature tests"
1. add non of multiple 64 test vectors to test incomplete sb test and border test (refer borders_test.cc).
2. based on dummy test cases, add maximum resolution and smaller resolution, like only 64x64 (refer to frame_size_tests.cc)
3. Tile: please refer to tile_independent_test.cc in libaom/test
4. Segment: Not supported
5. Active Map: Not Supported yet
6. AltRef: already tested; maybe it can be im

[2019-07-09 01:43] Cidana-Developers opened #34 "Stage4 Unit tests"
# Unit Test
1. CDEF Test
  - compute_cdef_dist
  - copy_rect8_8bit_to_16bit
  - cdef_find_dir_avx2
  - cdef_filter_block_avx2
2. Restoration Test
  - apply_self_guided_restoration
  - compute_stats
  - wiener
  - av1_wiener_convolve_add_src_avx2
  - projection
  - av1_selfguided_restoration
3. Film Grain Test
  - aom_wiener_denoise_2d
4. Deblocking Test
  - aom_highbd_lpf_{vertical, horizontal)_ss

[2019-07-11 07:47] Cidana-Developers opened #35 "Todo list"
Here are some todo items we should do, please feel free to comments:
- [x] Run coverage test and check if there is any assembly functions is tested. They may add some new assembly functions.
- [x] Check the buffer alignment and the function.
- [x] Check file name and assure the name is consistent. Like CamelCase instead of snake_case.
- [x] 10bit format support
- [x] Merge Edmond's long-time test

[2019-07-18 03:00] Cidana-Developers opened #36 "Summary of SVT-AV1 Unit Test Projects"
# Summary Of SVT-AV1 Unit Test Projects
## Some modules are not mentioned in Contract
  1. Picture Operation SSE2
  2. Denoise Operation
  3. Pack and Unpack operations
  4. super resolution: av1_highbd_convolve_horiz_rs_sse4_1
  5. picture analysis
  6. others, should check the assembly code in SVT-AV1 thoroughly.

## Mentioned in Contract, but not implemented in SVT-AV1 yet
### Stage2
  1. Recur

[2019-08-05 09:04] edmond-zhu opened #38 "More test vectors for e2e test"
Add more test vector by using configurable test

[2019-08-06 02:51] edmond-zhu opened #39 "E2E test failed case verification"
### End2End test, total: 59 tests, 4 tests failed as the following:
	1. ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2
	2. ConformanceDeathTest.DefaultSettingTest/LookAheadTest
	3. ConformanceDeathTest.DefaultSettingTest/SpeedControlTest1
	4. CodingOptionTest.CheckEncOptionsUsingBitstream/IntraPeriodTest1
	The failure of Speed Control test has been reported in Issue#368

[2019-08-16 07:01] Cidana-Developers opened #40 "mismatch issue in wiener convolve low bit depth test"
Step to reproduce:
`./SvtAv1UnitTests --gtest_filter="*WienerConvolve*"`

console output:
[code]
target function:
`eb_av1_wiener_convolve_add_src_avx2`

It's probably caused by the rounding or clamp.

[2019-08-16 07:07] Cidana-Developers opened #41 "Mismatch issue in dual loop filter unit test"
Step to reproduce:
`./SvtAv1UnitTests --gtest_filter="*LoopFilter*"`

Console output (Only the failed cases):
[code]
Target functions:
[code]

[2019-08-16 07:19] Cidana-Developers opened #42 "Mismatch issue in quantize unit test"
Step to reproduce:
`./SvtAv1UnitTests --gtest_filter="*Quantize*"`

Console output:
[code]

Target functions:
[code]
It happens when the coefficient are big and the difference is always 1.

[2019-09-09 08:42] Cidana-Developers opened #44 "Mismatch issue found in avc style mcp unit test"
The interpolation result from avc_style_luma_interpolation_filter_vertical_ssse3_intrin is different with the one from avc_style_luma_interpolation_filter_vertical, which makes functions (i.e. avc_style_luma_interpolation_filter_pos{e, f, g, i, j, k, p, q, r}_ssse3) return wrong result.

[2019-09-10 02:20] Cidana-Emma opened #45 "Add unit tests for noise related functions in film grain"
Please add unit tests for noise related functions in film grain, the following info is listed for your reference:

FILE   NAME | TEST TYPE | TARGETS | NOTES
-- | -- | -- | --
hbd_metrics_test.cc | C test | check the metrics calculations, like psnr   calculation, psnrhvs calculation | there is a function named   psnr_calculation, might be tested.
intrabc_test.cc | C test | test av1_is_dv_valid | wi

[2019-10-25 02:20] Cidana-Emma commented on #23
Close
Refer PR#56

[2019-10-25 02:20] #23 closed

[2019-10-25 02:21] Cidana-Emma commented on #31
fixed, so close this issue

[2019-10-25 02:21] #31 closed

[2019-10-25 02:22] Cidana-Emma commented on #32
fixed, added coverage daily test in Jenkins, so close this issue

[2019-10-25 02:22] #32 closed

[2019-10-25 02:23] Cidana-Emma commented on #34
tests for stage 4 have been added, so close this issue

[2019-10-25 02:23] #34 closed

[2019-10-25 02:28] Cidana-Emma commented on #38
PR#18 for end2end configurable test, haven't submitted to SVT-AV1 repo
keep Issue#38 open for tracking

[2019-10-25 03:11] Cidana-Emma commented on #39
Verification done.
End2End failures have been reported to SVT-AV1 repo, so close this issue

[2019-10-25 03:11] #39 closed

[2019-10-25 03:15] Cidana-Emma commented on #40
Fixed, PR#547

[2019-10-25 03:15] #40 closed

[2019-10-25 03:16] Cidana-Emma commented on #41
Reported to SVT-AV1, Issue#546, so close this issue here.

[2019-10-25 03:16] #41 closed

[2019-10-25 03:17] Cidana-Emma commented on #42
Fixed, PR#630

[2019-10-25 03:17] #42 closed

[2019-10-25 03:18] Cidana-Emma commented on #44
fixed, PR#568

[2019-10-25 03:18] #44 closed

[2019-10-25 03:20] Cidana-Emma commented on #45
done, PR#79

[2019-10-25 03:20] #45 closed

[2019-10-25 03:22] Cidana-Emma commented on #36
done

[2019-10-25 03:22] #36 closed

[2019-10-25 03:23] Cidana-Emma commented on #35
done

[2019-10-25 03:23] #35 closed

[2019-10-25 03:24] Cidana-Emma commented on #33
done

[2019-10-25 03:24] #33 closed

[2019-10-25 03:27] Cidana-Emma opened #46 "[Unit test] OBMC"
- [x] OBMC_SAD
- [x] OBMC_Variance

[2019-10-25 03:28] Cidana-Emma opened #47 "[Unit test] Filter Intra Prediction"
add unit test for filter intra prediction

[2019-10-25 03:29] Cidana-Emma opened #48 "Missing Tools"
Palette Mode and Global motion have not been implemented in SVT-AV1 encoder

[2019-10-28 01:28] Cidana-Emma commented on #48
PR#744: Palette Mode
PR#596: Global warp motion

Once these 2 PRs are merged, we need to add unit tests accordingly.

[2019-10-30 02:21] Cidana-Emma opened #49 "End2End failed test cases verification"
@FochQu please verify the following failed test cases by EncAPP and Dav1d. Thank you.
[  FAILED  ] SvtAv1/ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2, where GetParam() = IntraPeriodTest2: IntraPeriod=10,
[  FAILED  ] SvtAv1/ConformanceDeathTest.DefaultSettingTest/LookAheadTest, where GetParam() = LookAheadTest: IntraPeriod=4, LookAheadDistance=6, RateControlMode=0,
[  FAILED  ] SvtAv1

[2019-10-30 03:15] edmond-zhu commented on #47
PR #748 is merged.

[2019-10-30 03:16] edmond-zhu opened #50 "Unit test failed cases investigation"
[code]

[2019-10-30 03:17] FochQu commented on #49
~~
SvtAv1/ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2, where GetParam() = IntraPeriodTest2: IntraPeriod=10,
~~
commit 0202f5c75918d142df4ceb4faa32917dbbe518b5
--
av1-slave1@av1slave1:/data/foch/SVT-AV1/Bin/Release$ ./SvtAv1E2ETests --gtest_filter=*/ConformanceDeathTest.*/IntraPeriodTest2
Running main() from /data/foch/SVT-AV1/third_party/googletest/src/gtest_main.cc
Note: Google Test

[2019-10-30 03:17] FochQu commented on #49
~~
SvtAv1/ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2, where GetParam() = IntraPeriodTest2: IntraPeriod=10,
~~
commit 0202f5c75918d142df4ceb4faa32917dbbe518b5
--
av1-slave1@av1slave1:/data/foch/SVT-AV1/Bin/Release$ ./SvtAv1E2ETests --gtest_filter=*/ConformanceDeathTest.*/IntraPeriodTest2
Running main() from /data/foch/SVT-AV1/third_party/googletest/src/gtest_main.cc
Note: Google Test

[2019-10-30 03:26] edmond-zhu commented on #50
For failed cases in **LOOPSAD** were fixed in [https://github.com/Cidana-Developers/SVT-AV1/pull/98](url)

[2019-10-30 08:59] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2, where GetParam() = IntraPeriodTest2: IntraPeriod=10,
--
commit 0202f5c75918d142df4ceb4faa32917dbbe518b5
av1-slave1@av1slave1:/data/foch/SVT-AV1/Bin/Release$ ./SvtAv1E2ETests --gtest_filter=*/ConformanceDeathTest.*/IntraPeriodTest2
Running main() from /data/foch/SVT-AV1/third_party/googletest/src/gtest_main.cc
Note: Google Test filter

[2019-10-30 09:00] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2, where GetParam() = IntraPeriodTest2: IntraPeriod=10,
--

commit 0202f5c75918d142df4ceb4faa32917dbbe518b5

av1-slave1@av1slave1:/data/foch/SVT-AV1/Bin/Release$ ./SvtAv1E2ETests --gtest_filter=/ConformanceDeathTest./IntraPeriodTest2
Running main() from /data/foch/SVT-AV1/third_party/googletest/src/gtest_main.cc
Note: Google Test filter

[2019-10-30 09:02] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2, where GetParam() = IntraPeriodTest2: IntraPeriod=10,
--
/*
commit 0202f5c75918d142df4ceb4faa32917dbbe518b5

av1-slave1@av1slave1:/data/foch/SVT-AV1/Bin/Release$ ./SvtAv1E2ETests --gtest_filter=/ConformanceDeathTest./IntraPeriodTest2
Running main() from /data/foch/SVT-AV1/third_party/googletest/src/gtest_main.cc
Note: Google Test filt

[2019-10-30 09:09] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/LookAheadTest, where GetParam() = LookAheadTest: IntraPeriod=4, LookAheadDistance=6, RateControlMode=0,
--
commit 0202f5c75918d142df4ceb4faa32917dbbe518b5
[code]

Output from SvtAv1EncApp
[code]

Verified by dav1d
[code]

[2019-10-30 10:13] FochQu commented on #49
[ FAILED ] SvtAv1/ConformanceDeathTest.DefaultSettingTest/DummySrcTest2, where GetParam() = DummySrcTest2: EncoderMode=8, Profile=2,
--
[code]
[code]
Output from SvtAv1EncApp
--
[code]

[2019-10-30 10:48] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/DummySrcTest2, where GetParam() = DummySrcTest2: EncoderMode=8, Profile=2,
--
[code]
Output from SvtAv1EncApp
--
root@av1slave1:/data/foch/SVT-AV1/Bin/Release# ./SvtAv1EncApp -i ../../test/vectors/colorbar_480p_8_422.yuv -color-format 422 -enc-mode 8 -profile 2 -o ../../../test/recon.yuv -stat-report 1 -b ../../../test/output.ivf
---------------------

[2019-10-30 11:00] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/LookAheadTest, where GetParam() = LookAheadTest: IntraPeriod=4, LookAheadDistance=6, RateControlMode=0,
--
[code]
Output from SvtAv1EncApp
--
[code]

Verified by dav1d
--
[code]

[2019-10-30 11:02] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/DummySrcTest3, where GetParam() = DummySrcTest3: EncoderMode=8, Profile=1,
--
[code]
Output from SvtAv1EncApp
--
[code]

[2019-10-30 11:03] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/DummySrcTest2, where GetParam() = DummySrcTest2: EncoderMode=8, Profile=2,
--
[code]
Output from SvtAv1EncApp
--
[code]

[2019-10-30 11:13] FochQu commented on #49
SvtAv1/CodingOptionTest.CheckEncOptionsUsingBitstream/IntraPeriodTest1, where GetParam() = IntraPeriodTest1: IntraPeriod=3,
--
[code]

Output from SvtAv1EncApp
--
[code]
Verified by dav1d
--
[code]

[2019-10-30 11:24] FochQu commented on #49
SvtAv1/CodingOptionTest.CheckEncOptionsUsingBitstream/RcTest6, where GetParam() = RcTest6: RateControlMode=3, TargetBitRate=500000,
--
[code]

Output from SvtAv1EncApp
--
[code]

[2019-10-30 11:25] FochQu commented on #49
SvtAv1/ConformanceDeathTest.DefaultSettingTest/IntraPeriodTest2, where GetParam() = IntraPeriodTest2: IntraPeriod=10,
--
[code]
[code]

Output IVF:
--
[code]
Verified by dav1d
--
[code]

[2019-10-31 06:28] edmond-zhu commented on #50
ExtractFilterTest failed cases can be fixed in PR: https://github.com/Cidana-Developers/SVT-AV1/pull/107

the width of input frame should be in 64 pixel aligned, or it will be failed in incomplete sb

[2019-11-05 06:48] edmond-zhu opened #51 "Mismatch issue in SAD loop unit test"
Step to reproduce:
[code]

Console output (part of failed cases and final results):
[code]

target functions:
[code]

[2019-11-05 07:04] edmond-zhu commented on #51
Following PR fix this issue: [https://github.com/Cidana-Developers/SVT-AV1/pull/98](url)

[2019-11-06 00:35] Cidana-Emma commented on #51
The comment is clear.
@edmond-zhu thanks for your help!

[2019-11-07 01:18] Cidana-Emma commented on #46
PR#756 and PR#757 have been merged in SVT-AV1 encoder, so close Issue#46.

[2019-11-07 01:18] #46 closed, assigned to nobody

[2019-11-07 01:19] Cidana-Emma commented on #47
Close Issue#47

[2019-11-07 01:19] #47 closed, assigned to nobody

[2019-11-07 01:21] Cidana-Emma commented on #51
Report Issue#771 to SVT-AV1, will track the status there

[2019-11-08 08:38] Cidana-Emma commented on #50
Intel reported unit test failures to SVT-AV1 repo Issue#777, will track the status there.

[2019-11-08 08:39] Cidana-Emma commented on #49
Done, so closed

[2019-11-08 08:39] #49 closed, assigned to edmond-zhu, FochQu

[2019-12-04 00:20] Cidana-Emma commented on #48
PR#822: add tests for Palette Mode
PR#848: add unit test for Global warp motion
Closed issue#48

[2019-12-04 00:20] #48 closed, assigned to edmond-zhu

[2019-12-04 00:25] Cidana-Emma commented on #50
Contributors submitted the fixes for the test failures in unit test.
Close the issue#50

[2019-12-04 00:25] #50 closed, assigned to edmond-zhu

[2019-12-06 01:41] Cidana-Emma commented on #51
This issue fixed by PR#806, so closed.

[2019-12-06 01:41] #51 closed, assigned to nobody

[2019-12-16 08:18] edmond-zhu opened #52 "Coverage Test break"
Coverage Test breaks since debug build is down after commit: 48142688b1db2492660652a5d1bd1758ba95c51a

Failure build environment:
Intel i7 8700
Ubuntu 16.04
GNU 5.4.0
CMake 3.12.1
YASM 1.3.0
Debug version (Release version is OK)

PS: Debug version is OK in Ubuntu 18.04 (GNU 7.3)

Logs:
[code]

[2019-12-16 10:14] edmond-zhu commented on #52
Search for the specification of [i7-8700](https://ark.intel.com/content/www/cn/zh/ark/products/126686/intel-core-i7-8700-processor-12m-cache-up-to-4-60-ghz.html?wapkw=i7%208700), it does not support for AVX512 instruction set.

Even if it can pass the build, it also crashes in runtime.

Only Xeon CPU for server support fully AVX512

[2020-01-07 07:43] Cidana-Emma commented on #52
Fixed, so closed Issue#52.

[2020-01-07 07:43] #52 closed, assigned to nobody

[2020-01-07 08:03] Cidana-Emma opened #53 "[Test Framework] Setup a new environment for demo"
- [x] set up a new environment for demo and external usage.
- [x] write "environment set up" documents
- [x] write scripts for program building and environment setting

[2020-01-07 08:07] Cidana-Emma opened #54 "[Test Framework] One comment deloyment"
- [x] local deployment script
- [x] Jenkins VS. Ansible

[2020-01-07 08:14] Cidana-Emma opened #55 "[Test Framework] Investigate unit test breakdown issue"
- [x] investigate and fix unit test breakdown issue
- [ ] integrate auto unit test in CI server

[2020-01-07 08:20] Cidana-Emma opened #56 "[Test Framework] Simple log and full log cannot output completely on Web page"

[2020-01-07 08:23] Cidana-Emma opened #57 "[Test Framework] Coverage data on Web page is not consistent with the one in Jenkins"

[2020-01-07 08:37] Cidana-Emma opened #58 "[Test Framework] Use web login name as the info "commit by""

[2020-01-07 08:40] Cidana-Emma opened #59 "[Test Framework] Add commit message in build info"

[2020-01-07 08:47] Cidana-Emma opened #60 "[Test Framework] Web UI optimization"
- [x] title height
- [x] log output table: double scroll bar
- [x] Full log title bar covered scroll bar
- [x] coverage chart: should comply with the one of conformance
- [x] change the position of "View All"
- [x] support multiple resolutions and multiple browsers

[2020-01-07 08:48] edmond-zhu opened #61 "[SVT-AV1 UnitTests] Coveralls Support"
1. Coveralls support in Jenkins
- [x] demo for unit tests coverage
- [ ] Jenkins add super link to coveralls for short cut

2. Coveralls support in Travis (timeout limitation)
- [x] reduce test loop in unit tests
- [x] disable speed tests
- [x] filter some long time tests
- [x] multiple threads optimization

3. Coveralls not found in Travis Linux
- [x] fix Coveralls in Travis Linux

4. Coveralls f

[2020-01-07 08:50] Cidana-Emma opened #62 "[Test Framework] Clean up CSS"
work with Hawk on this issue

[2020-01-07 08:55] Cidana-Emma opened #63 "[Test Framework] Cookie issue"
If cookie is closed, then the user cannot login the test framework web.

[2020-01-07 09:00] Cidana-Emma opened #64 "[Test Framework] Notification system"
- inform user with the running progress or the completion of running by mail or CS
- need further discussion

[2020-01-07 09:07] edmond-zhu commented on #61
Demo for Coveralls integration in Jenkins is ready [https://coveralls.io/github/edmond-zhu/coveralls_test](url)

**TODO: Jenkins add super link to coveralls after coverage test report as :**
[code]

[2020-01-07 09:57] edmond-zhu commented on #61
CPU info of Travis Virtual Machine
[code]

[2020-01-07 10:01] edmond-zhu commented on #61
Travis timeout limitation errors:
1. The job exceeded the maximum time limit for jobs, and has been terminated. (about 50 minutes)
2. No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself.

[2020-01-07 10:05] edmond-zhu commented on #61
Task2 result after
- [x] reduce test loop in unit tests
- [x] disable speed tests
[code]

Still costs about 236 minutes in single thread running _SvtAv1UnitTests_

**[DONE]: disable some long time test cases**
- [x] filter some long time tests

[2020-01-07 10:37] edmond-zhu commented on #61
Test result on Intel i-7 8750H @4GHz single thread

Test Case | Running Time
-- | --
LOOPSAD/sad_LoopTest | 3716227
HMESAD/sad_LoopTest | 2214982
EbRestorationPick_avx2 | 1431346
Cdef/CDEFBlockTest | 1346854
ConvolveTest2D/AV1HbdJntConvolve2DTest | 878943
BlendA64Mask1DTestHBD | 488241
BlendA64Mask1DTest8B | 480472
C/AV1WarpFilterTest | 450115
SSE4_1/AV1HighbdWarpFilterTest | 371923
AVX2/AV1WarpFi

[2020-01-07 10:43] edmond-zhu commented on #61
TO disable test cases:
- \*sad_LoopTest\*
- \*EbRestorationPick\*
- \*JntConvolve\*
- \*WarpFilterTest\*
- \*BlendA64Mask\*
- \*Av1KMeansDim\*

**This number after optimization is about 32.02% in lines:**
[https://coveralls.io/jobs/57553240](url)

- [x] multiple threads optimization
Optimized from [single thread](https://travis-ci.com/Cidana-Developers/SVT-AV1/jobs/273413929) (31 min 36 sec) to [d

[2020-01-08 02:45] edmond-zhu opened #65 "[SVT-AV1 UnitTests] Failure Test Case Tracking"
This task is a tracking board for failed test cases in unit tests.

@Richard-li Please list and update the remaining failure test cases here:

[2020-01-08 05:12] edmond-zhu commented on #61
Issue found in [Travis Linux](https://travis-ci.com/Cidana-Developers/SVT-AV1/jobs/273362325):
[code]
[code]

**Fixed with patch:**
[code]

[2020-01-08 06:11] edmond-zhu commented on #61
Issue found in [Travis MacOS](https://travis-ci.com/Cidana-Developers/SVT-AV1/jobs/273375121)
[code]

[2020-01-09 02:49] Richard-li commented on #65
Failing test case in unit test <Commits on Jan. 6th, 2020>
**Classification:**
- [ ] FFT/FFT2DTest

- [ ] IFFT/IFFT2DTest

- [ ] AVX2_COPY/AV1HbdJntConvolve2DTest

- [ ] ConvolveTest2D/AV1HbdJntConvolve2DTest

- [ ] ConvolveTestX/AV1HbdJntConvolve2DTest

- [ ] ConvolveTestY/AV1HbdJntConvolve2DTest

- [ ] AV1/AV1WienerConvolveHbdTest

**Failure info detail:**
[  FAILED  ] 58 tests, listed below:
[

[2020-01-10 03:48] Cidana-Emma opened #66 "[Test Framework] Deploy GitLab on Jenkins CI"
Build Jenkins CI server for Test Framework development

[2020-01-10 03:55] Cidana-Emma opened #67 "[Test Framework] Implement Web pack"

[2020-01-14 05:53] Cidana-Emma opened #68 "[Test Framework] Implement Diagnosis Page"

[2020-01-14 07:36] Cidana-Emma opened #69 "[Test Framework] Promotion"
All kinds of suggestions for Cidana Test Framework promotion are welcome. Please feel free to expand the following list. Thank you!

1. Customization: show our capability and expertise to integrate CI server, docker, test suites and etc. based on customer's requirements
2. Organize and display the reports and dashboards for different level of viewers, such developers/PM/PL/Management...
3. Provide

[2020-01-15 05:41] Cidana-Emma opened #70 "[Test Framework] The status cannot refrash when Jenkins and data service are disconnected"

[2020-01-15 06:56] Kenny-Cidana commented on #55
1. Fix all build break issues
2. Fix all 6 failure test functions

[2020-01-15 06:57] Kenny-Cidana commented on #55
TODO: some test functions not implement yet, for now

[2020-01-15 07:48] Cidana-Emma opened #71 "[SVT-AV1 UnitTests] Disable failed unit test cases"
To do:
- [x] fully run the unit test to collect the failed cases
- [x] Submit the PR in SVT-AV1 Github to disable the failed unit tests
- [x] list dwon test cases with runtime
- [ ] provide a sample code for filtering the unit tests by name
- [x] crashes in transform unit tests
- [x] proposal to use SHARDS (8) for unit test runtime optimization
- [x] new failure cases in SAD

[2020-01-15 07:52] Cidana-Emma commented on #65
Test failures in AV1HbdJntConvolve2DTest and AV1WienerConvolveHbdTest have been fixed by PR#954 in SVT-AV1 GitHub.

[2020-01-15 08:03] Cidana-Emma commented on #71
@Richard-li Please list the test condition as well, the following example for your reference. Thank you!

Test Condition:
1.   test with release version
2.   single thread test for count time of each testcase
2.   Sharded test: 2 sharded for optimized time (Travis provide 2 cores)
3.   test platform: Linux
4.   CPU: i7 8700
5.   Memory: 16G

Total:   13900 tests, 22 tests failed as the following:

[2020-01-15 09:17] Kenny-Cidana opened #72 "[Test Framework] Session persistence"
In order to solve the issue of session lost when back-end service exit or crash, keep user's login information.

Session lost will cause some bad situations, like job page can not get status of current build processing, it will never "Finish"

[2020-01-16 02:10] Kenny-Cidana commented on #58
It may be hard to achieve this goal, due to the Job build trigger is asynchronous.

API service send a command to Jenkins to trigger new build, but the build is not start immediately (just put it in its queue), when new job build actual start, Jenkins will notify API service and tell the actual build number and the person who trigger the new build

[2020-01-16 02:12] Kenny-Cidana commented on #58
Hi Foch, please help to check if the Jenkins could provide some solution to let us build connection between job id & login user (of CTP, not Jenkins user)

[2020-01-16 03:18] Richard-li commented on #71
Cidana-Developers / SVT-AV1 2020/01/15 Lastest Source Code Running Result [log_20200115.txt](https://github.com/Cidana-Developers/Cidana-Task-Manager/files/4069141/log_20200115.txt)
Running Time (ALL): 7549885 ms (~= 2.09 h)
- Test with release version
- Single thread test for count time of each testcase
- Test Platform: Linux
- CPU: i7-8700
- Memory: 16 G
- Total 29095 tests, 73 failed as followi

[2020-01-16 07:45] Cidana-Emma commented on #71
Above failures are fixed by PR#954 in SVT-AV1 Git, so it is not necessary to submit the PR to disable the failed unit tests.
Checkout to-do task 1/2/3

[2020-01-16 07:51] edmond-zhu commented on #71
Found segmentation fault in Travis CI test:
[code]

**[Done]** this issue is fixed in [Fix crash in transform unit tests](https://github.com/Cidana-Developers/SVT-AV1/pull/117)

[2020-01-17 03:34] edmond-zhu commented on #71
New failure test cases found [HERE](https://travis-ci.com/Cidana-Developers/SVT-AV1/jobs/276545037):

Set Environment:
GTEST_TOTAL_SHARDS=8
GTEST_SHARD_INDEX=1

[code]
[HERE:](https://travis-ci.com/Cidana-Developers/SVT-AV1/jobs/276580092)
[code]
@Richard-li  Would you please help check the root cause of these failure?

[2020-01-17 08:21] Kenny-Cidana commented on #57
Fixed

[2020-01-17 08:36] Cidana-Emma commented on #57
Fixed, so close this issue

[2020-01-17 08:36] #57 closed, assigned to Kenny-Cidana

[2020-01-19 04:01] Cidana-Emma opened #73 "[Test Framework] Adjust the coverage script to support synchronous operation"

[2020-01-20 02:46] Cidana-Emma commented on #71
1. PR#967:
- Implement unit test in GitHub Actions with Shards based on PR#958, in order to workaround the long test time issue.
- Disable failed unit test cases
   a. Convolve and HBD Variance failed unit test cases: those failures are fixed by PR#954, but it hasn't been merged.
   b. SAD_Calculation: is fixed by PR#969.
- fixed the crash in Transform based on PR#944 to avoid being interrupted du

[2020-01-21 07:48] Cidana-Emma commented on #65
PR#954 has been merged, so close this issue

[2020-01-21 07:48] #65 closed, assigned to Richard-li

[2020-01-22 05:46] Cidana-Emma opened #74 "[SVT-AV1 UnitTests] Investigate End2End test failures"
PR#969 for reference:

[  FAILED  ] 68 tests, listed below:
[  FAILED  ] SvtAv1/CrashDeathTest.NotCrashTest/EncModeTest0, where GetParam() = EncModeTest0: EncoderMode=0,
[  FAILED  ] SvtAv1/CrashDeathTest.NotCrashTest/EncModeTest1, where GetParam() = EncModeTest1: EncoderMode=1,
[  FAILED  ] SvtAv1/CrashDeathTest.NotCrashTest/EncModeTest2, where GetParam() = EncModeTest2: EncoderMode=2,
[  FAILED

[2020-01-22 05:48] Cidana-Emma opened #75 "[SVT-AV1 UnitTests] Investigate Deblocking test coverage"
Deblocking unit test coverage decrease to 11%, need to investigate what's the issue happened in it.

[2020-02-10 05:55] Cidana-Emma commented on #74
PR#992: Fix all tests from SvtAv1E2ETests.
Please help to verify if this PR can fix all the E2E test failures. Thank you.

[2020-02-10 08:01] Kenny-Cidana commented on #56
please assign to web UI engineer

[2020-02-10 08:04] Kenny-Cidana commented on #53
2 shell scripts have been created.
  1. build.sh is in charge of component docker image building and uploading them to docker hub.
  2. launch.sh is in charge of fetching newest component docker images from docker hub and launch all of them one by one

[2020-02-10 08:06] Cidana-Emma commented on #56
This issue has been reported to Web UI engineer, will change the assignee.

[2020-02-10 08:55] edmond-zhu commented on #74
Verified PR #992, all e2e test passed list:
[code]

But found one crash:
[code]

For more details, please check for [full log](http://jenkins.cidanash.com:8082/job/SVTAV1-Linux-GCC-Dry-Run-Test/143/consoleFull)

[2020-02-10 09:35] edmond-zhu commented on #75
There are some test cases missing in first version of DeblockTest.cc

New test cases added in PR: https://github.com/Cidana-Developers/SVT-AV1/pull/122

[2020-02-11 03:20] Cidana-Emma opened #76 "[SVT-AV1 UnitTests] Run the whole codebase coverage"
Please run both encoder and decoder testing coverage to understand the whole codebase coverage.

[2020-02-11 03:24] Cidana-Emma opened #77 "[SVT-AV1 UnitTests] Enable the UnitTest and End2EndTest"
SVT-AV1 community plans to apply the UnitTest.
Please issue a PR to enable the UnitTest and End2EndTest.

[2020-02-11 04:08] Cidana-Emma opened #78 "[Test Framework] TFS external access"
need to config to intranet IP

[2020-02-11 07:32] Cidana-Emma opened #79 "[Test Framework] log window shows both former log and new log during running"

[2020-02-13 08:17] Cidana-Emma commented on #76
Done, sent the coverage report to customer.

[2020-02-13 08:17] #76 closed, assigned to edmond-zhu

[2020-02-13 08:33] Cidana-Emma commented on #77
Issued PR#1041, so closed

[2020-02-13 08:33] #77 closed, assigned to edmond-zhu

[2020-02-13 08:36] Cidana-Emma commented on #75
Issued PR#1042, so closed

[2020-02-13 08:36] #75 closed, assigned to edmond-zhu, Richard-li

[2020-02-13 08:42] Cidana-Emma opened #80 "[Test Framework] AWCY test vector and permission auto-deploy"

[2020-02-13 08:53] Cidana-Emma opened #81 "[Test Framework] No logs display in deploy Web UI"

[2020-02-13 08:55] Cidana-Emma opened #82 "[Test Framework] Add build Env in Jenkins docker image"

[2020-02-14 01:21] Cidana-Emma commented on #81
Close, this issue was fixed.

[2020-02-14 01:21] #81 closed, assigned to Kenny-Cidana

[2020-02-14 05:41] FochQu commented on #78
1.in gateway
2.select Jenkins_Demo_8080to8080
3.all-external_access_limited

[2020-02-17 01:47] Kenny-Cidana commented on #70
fixed already

[2020-02-17 01:56] Cidana-Emma commented on #70
Fixed, so close

[2020-02-17 01:56] #70 closed, assigned to Kenny-Cidana

[2020-02-18 06:04] Cidana-Emma commented on #71
PRs have been merged, so close this issue

[2020-02-18 06:04] #71 closed, assigned to Cidana-Emma, edmond-zhu, Richard-li

[2020-02-18 06:22] Cidana-Emma opened #83 "[Test Framework] The size of Jenkins config file is too large"
The size of Jenkins config file is too large, need to clean up.

[2020-02-18 06:35] FochQu commented on #82
pushed on dockerhub
cidana/jenkins:deploy

[2020-02-18 06:35] #82 closed, assigned to FochQu

[2020-02-18 06:49] Cidana-Emma commented on #56
fixed, so close this issue

[2020-02-18 06:49] #56 closed, assigned to Cidana-Emma

[2020-02-19 07:00] Kenny-Cidana commented on #53
deploy awcy media files via ftp

[2020-02-24 01:44] Kenny-Cidana commented on #58
find out new way and solve the issue

[2020-02-24 01:45] Kenny-Cidana commented on #79
solved when issue #58 get fixed

[2020-02-25 05:23] edmond-zhu opened #84 "[SVT-AV1 UnitTests] Investigation of Rate Control Failure Test Cases"
Failure test cases founded in [PR1044](https://github.com/OpenVisualCloud/SVT-AV1/runs/444877473) and [PR1045](https://github.com/OpenVisualCloud/SVT-AV1/runs/445233347)

The failure test cases are:
SvtAv1/CodingOptionTest.CheckEncOptionsUsingBitstream/RcTest2 and SvtAv1/ConformanceDeathTest.DefaultSettingTest/RateControlTest1

Verify and investigate the issues.

[2020-02-25 05:28] edmond-zhu commented on #84
After test more than 10 thousands times of running rate control test cases, It is re-produced 4 times by following process:
[code]
This issue is not related with Cidana end to end test framework, since it is based on SvtAv1EncApp and SvtAv1DecApp.

I uploaded the test script and test results to [file-server](\\fileserver\Public\Employees\Edmond\AV1\rctest_results)

How to run test script:
[code]

[2020-02-26 06:01] edmond-zhu opened #85 "[SVT-AV1 UnitTests] Investigation of signal 11 fault in E2E test"
Found crashes during GitHub CI action test cases:
- SvtAv1/ConformanceDeathTest.DefaultSettingTest/PaletteModeTest1
- SvtAv1/CrashDeathTest.NotCrashTest/EncModeTest6
- SvtAv1/ConformanceDeathTest.DefaultSettingTest/PaletteModeTest7
- SvtAv1/ConformanceDeathTest.DefaultSettingTest/PaletteModeTest2

involved following PRs:
[1076](https://github.com/OpenVisualCloud/SVT-AV1/runs/468486387), [1078](htt

[2020-02-26 06:35] edmond-zhu opened #86 "[SVT-AV1 UnitTests] Investigation of signal 6 fault in E2E test"
Found crashes during GitHub CI action test cases:

SvtAv1/ConformanceDeathTest.DefaultSettingTest/QpTest4

involved following PRs:
[1062](https://github.com/OpenVisualCloud/SVT-AV1/runs/458704322)

[2020-02-26 06:45] edmond-zhu opened #87 "[SVT-AV1 UnitTests] Investigation of double free issue in E2E test"
Found crashes during GitHub CI action test cases:
 - SvtAv1/ConformanceDeathTest.DefaultSettingTest/DlfTest1

involved following PRs:
[1055](https://github.com/OpenVisualCloud/SVT-AV1/runs/459268522)

Log:
[code]

[2020-02-26 06:57] edmond-zhu commented on #86
Found another issue in [PR1070](https://github.com/OpenVisualCloud/SVT-AV1/runs/462545677)

Log:
[code]

[2020-02-26 09:24] Kenny-Cidana commented on #64
new feature of notification mail sending when build finish

[2020-02-26 09:25] Kenny-Cidana commented on #64
Next, maybe weChar, WhatApp and anything user wanted

[2020-02-27 00:54] edmond-zhu commented on #85
SvtAv1/CrashDeathTest.NotCrashTest/EncModeTest6 tested fro 500 times, not re-produce

[2020-02-27 02:37] Kenny-Cidana commented on #59
Supported in API server side

[2020-02-27 02:40] Kenny-Cidana commented on #59
@FochQu, please add new argument `commit_msg` in AddJobBuild API, just like what `commit` did

[2020-02-27 06:49] FochQu commented on #59
Finish adding new api commit_msg in 3 tests

[2020-03-02 01:43] Kenny-Cidana opened #88 "disable performance test before awcy service is ready"
it will cost a while, may 10 or 15 minutes, to initialize the awcy service after installed, during this period, run performance test will cause some error, so we need to disable the build operation before awcy actual ready

[2020-03-04 06:57] FochQu commented on #83
Jenkins config file is 257MB now
Jenkins docker image 1.9GB (jenkins conf , build evn)

[2020-03-04 07:01] FochQu commented on #88
I  modified in Jenkins's script if the awcy server is not running. Jenkins will not submit the task

[2020-03-04 09:03] Cidana-Emma opened #89 "[Test Framework] Edge browser: hyperlink cannot redirect"

[2020-03-05 03:07] Kenny-Cidana commented on #55
finish dry-run test

[2020-03-06 06:19] FochQu commented on #89
I removed jenkins's token in config file (data_service_api.php)

[2020-03-11 00:33] Cidana-Emma commented on #89
fixed, so close

[2020-03-11 00:33] #89 closed, assigned to FochQu

[2020-03-11 00:33] Cidana-Emma commented on #84
Feedback to Netflix, so close it.

[2020-03-11 00:33] #84 closed, assigned to edmond-zhu

[2020-03-11 00:35] Cidana-Emma commented on #79
fixed, so close this issue

[2020-03-11 00:35] #79 closed, assigned to Kenny-Cidana

[2020-03-11 00:35] Cidana-Emma commented on #78
fixed, so close this issue.

[2020-03-11 00:35] #78 closed, assigned to FochQu

[2020-03-11 00:36] Cidana-Emma commented on #74
Closed

[2020-03-11 00:36] #74 closed, assigned to edmond-zhu, Richard-li

[2020-03-11 00:38] Cidana-Emma commented on #61
Provided the overall coverage script to Netflix.

[2020-03-11 00:38] #61 closed, assigned to edmond-zhu, FochQu

[2020-03-11 00:38] Cidana-Emma commented on #53
Closed

[2020-03-11 00:38] #53 closed, assigned to FochQu, Kenny-Cidana

[2020-03-11 00:38] Cidana-Emma commented on #54
Closed

[2020-03-11 00:38] #54 closed, assigned to FochQu

[2020-03-11 00:39] Cidana-Emma commented on #58
Closed

[2020-03-11 00:39] #58 closed, assigned to FochQu, Kenny-Cidana

[2020-03-11 00:40] Cidana-Emma commented on #59
Closed

[2020-03-11 00:40] #59 closed, assigned to FochQu, Kenny-Cidana

[2020-03-11 00:40] Cidana-Emma commented on #60
Closed for Milestone 1

[2020-03-11 00:40] #60 closed, assigned to Cidana-Emma

[2020-03-17 05:19] Cidana-Emma opened #90 "[Test Framework] New Feature: Regression test"
Milestone 1: implement PSNR as a sample
- [ ] Database: data collection, fetch and processing
- [ ] I/O API, PSNR computational formula
- [ ] Web UI: trend chart

[2020-03-17 05:26] Cidana-Emma commented on #90
Reference:
https://videocodectracker.dev/
https://tools.ietf.org/id/draft-ietf-netvc-testing-06.html

[2020-03-17 05:27] Cidana-Emma commented on #66
Done

[2020-03-17 05:27] #66 closed, assigned to FochQu

[2020-03-17 05:27] Cidana-Emma commented on #62
Done

[2020-03-17 05:27] #62 closed, assigned to Cidana-Emma

[2020-03-19 06:38] edmond-zhu opened #91 "[SVT-AV1 UnitTests] Integration unit tests for MacOS and Windows for CI"
[code]

[2020-03-19 06:43] edmond-zhu commented on #91
there are instruction failed issue on MacOS platform:
[code]

Check for CPU info of GitHub CI platform:
[code]

AVX2 is missing on Intel E5-1650

[2020-03-23 06:21] edmond-zhu commented on #91
Check for CPU info of GitHub CI Windows platform:
[code]

[2020-04-01 09:23] edmond-zhu opened #92 "[SVT-AV1 UnitTests] exception found in PACKMSB/PackMsbTest"
Found exception from unit test: PACKMSB/PackMsbTest
[code]

[2020-04-02 05:43] edmond-zhu commented on #92
Bug fixed in [PR#135](https://github.com/Cidana-Developers/SVT-AV1/pull/135)

The root cause is the wrong allocation size of "inn_bit_buffer_", the buffer was read out of bound. It is fixed by correct the size of "inn_bit_buffer_".

[2020-04-13 06:15] edmond-zhu commented on #92
e.g: https://github.com/OpenVisualCloud/SVT-AV1/runs/574829610

[2020-04-13 06:18] edmond-zhu commented on #91
Windows GitHub CI was merged in [Add GitHub CI configuration for Windows](https://github.com/OpenVisualCloud/SVT-AV1/pull/1153)

[2020-04-13 06:19] #91 closed, assigned to edmond-zhu

[2020-05-13 05:53] Richard-li opened #93 "[SVT-AV1] One_Quadrant_HME issue in Multi Stages ME"
The CLI I used is:
`-i ../../test/vectors/niklas_640_480_30.yuv -w 640 -h 480 -b output.ivf -o recon.yuv -stat-report 1`

A bool variable named "one_quadrant_hme" is defined in function _hme_sb_(about in line 10091 ), (also in function _motion_estimate_sb_ (about line 10818)), and initialized as EB_FALSE

Then a judgment statement about whether input picture resolution is larger than 4k or not is

[2020-05-14 01:22] Richard-li opened #94 "[SVT-AV1] Spelling Error Collection"
The spelling errors in SVT-AV1 source code will be listed in this issue

[2020-05-14 01:25] Richard-li commented on #94
SVT-AV1_master\test\e2e_test\CompareTools.c

Line 127: in function _psnr_8bit_
"// Assert that, p1 p2 hase same size and no stirde issue."
should be
"// Assert that, p1 p2 **has** same size and no **stride** issue."

[2020-05-14 01:31] Richard-li commented on #94
SVT-AV1_master\test\e2e_test\SvtAv1E2EFramework.h

Line 174: protected variable declaration part
"PsnrStatistics pnsr_statistics_;"
should be
"PsnrStatistics **psnr_statistics_**;"

[2020-05-14 01:55] Richard-li opened #95 "[SVT-AV1] About tf_enable_hme_flag initialization"
tf_enable_hme_level0_flag/tf_enable_hme_level1_flag/tf_enable_hme_level2_flag can be initialized either by preseting in command argument or using default default inbuilt value.

These flags will first be initialized in Resource Coordination Process (function _signal_derivation_pre_analysis_oq_ in _EbResourceCoordinationProcess.c_)

However, when there is no preset initialization available, the tf_

[2020-05-14 02:02] Richard-li commented on #95
The above flags will be reassigned in Picture Decision Process (function _signal_derivation_multi_processes_oq_ in _EbPictureDecisionProcess.c_) which is the downstream process of Resource Coordination Process

[2020-05-14 02:05] Richard-li opened #96 "[SVT-AV1] Screen Content detection algorithm"

[2020-05-14 06:11] Richard-li commented on #94
SVT-AV1_master\Source\Lib\Encoder\ASM_AVX2\EbComputeSAD_Intrinsic_AVX2.c

Line 4080 Comment typo
"| 8x8_08 | 8x8_09 | 8x8_12 | 8x8_13 |   8x8_24 | 8x8_25 | 8x8_29 | 8x8_29 |"
shoule be
"| 8x8_08 | 8x8_09 | 8x8_12 | 8x8_13 |   8x8_24 | 8x8_25 | **8x8_28** | 8x8_29 |"

Line 4092 Comment typo
"| 8x8_42 | 8x8_43 | 8x8_46 | 8x8_48 |   8x8_58 | 8x8_59 | 8x8_62 | 8x8_63 |"
shoule be
"| 8x8_42 | 8x8_43 |

[2020-05-18 07:13] Richard-li opened #97 "[SVT-AV1] An issue about hme_level_flag initialization"
In file _EbResourceCoordinationProcess.c_, the hme_level_flags (include enable_hme_level0_flag, enable_hme_level1_flag, enable_hme_level2_flag) are initialized the first time as follows:
`    if (scs_ptr->static_config.use_default_me_hme) {
        pcs_ptr->enable_hme_flag = enable_hme_flag[0][input_resolution][hme_me_level] ||
                                   enable_hme_flag[1][input_resolution

[2020-05-18 07:27] Richard-li commented on #95
A new issue is to handle for this bug.

[2020-05-18 07:27] #95 closed, assigned to nobody

[2020-05-20 03:01] Richard-li opened #98 "[SVT-AV1] Crash when use-default-me-hme is set as 0"
The CLI I use is:
`-i ../../test/vectors/niklas_640_480_30.yuv -w 640 -h 480 -b output.ivf -o recon.yuv -stat-report 1 -q 15 --use-default-me-hme 0`

The program crashes when calculating distortion_top_left_pos (about Line 5093) in EbMotionEstimation.c in function _pu_half_pel_refinement_, (**ONLY in visual studio Release mode, it does not occur in debug mode or in linux environment**)

Crash is a

[2020-05-22 01:28] Richard-li commented on #98
Open another new issue to handle it

[2020-05-22 01:28] #98 closed, assigned to nobody

[2020-05-22 01:35] Richard-li opened #99 "[SVT-AV1] Crash when use-default-me-hme is set as 0 without presetting search area height"
The CLI I used is:
-i ../../test/vectors/niklas_640_480_30.yuv -w 640 -h 480 -b output.ivf -o recon.yuv -stat-report 1 -q 15 --use-default-me-hme 0

I run the program in Visual Studio 2019, in Release mode

The program crashed as soon as i run it, the crash was a "Access violation reading"
![img1](https://user-images.githubusercontent.com/59598349/82621965-23f62d80-9c0f-11ea-8a11-31aab3bf20ca.png)

[2020-05-26 03:04] Richard-li opened #100 "[SVT-AV1] Screen Content and Temporal Filtering"
Temporal filtering will not apply on screen content frame??

![tempral filtering condition](https://user-images.githubusercontent.com/59598349/82856482-a567fb80-9f40-11ea-8d4e-bcc74576335c.png)

[2020-06-08 02:19] edmond-zhu commented on #99
this issue is pushed to Open Visual Cloud #1328

[2020-06-17 08:47] Richard-li commented on #94
SVT-AV1\Source\Lib\Decoder\Codec\EbDecProcessBlock.c
Line 184/188/192
/* For Luma bock */
/* For U plane chroma bock */
/* For V plane chroma bock */

"bock" should be "block"